$body-bg: #f9f9f9;

$shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
  0 3px 1px -2px rgba(0,0,0,0.12), 
  0 1px 5px 0 rgba(0,0,0,0.2);

$colors: (
  text-primary: lighten(#202020, 20%),
  text-secondary: lighten(#202020, 50%)
);

$desktop: 992px;
$tablet: 768px;
$medium: 600px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}